.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.numba_cache/
data/*.parquet
#results/

src/exact_batch_backtester.egg-info/
results/train_7991d522a22e/batches/
results/train_7991d522a22e/trades/
results/*/batches/
results/old/train_7991d522a22e/
results/old/
